<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.hello.spring.boot.dao.SmbmsProviderMapper">
  <resultMap id="BaseResultMap" type="cn.bdqn.hello.spring.boot.entity.SmbmsProvider">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="proCode" jdbcType="VARCHAR" property="procode" />
    <result column="proName" jdbcType="VARCHAR" property="proname" />
    <result column="proDesc" jdbcType="VARCHAR" property="prodesc" />
    <result column="proContact" jdbcType="VARCHAR" property="procontact" />
    <result column="proPhone" jdbcType="VARCHAR" property="prophone" />
    <result column="proAddress" jdbcType="VARCHAR" property="proaddress" />
    <result column="proFax" jdbcType="VARCHAR" property="profax" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyby" />
  </resultMap>
</mapper>